
<form action="<%= cats_url %>" method="post">
  <input type="hidden" name="_update" value="patch">
  <input type="hidden"
         name="<%=request_forgery_protection_token.to_s%>"
         value="<%=form_authenticity_token%>">

  <label for="cat_name">Name:</label>
  <input id="cat_name"
         type="textarea"
         name="cat[name]"
         value="<%= @cat.name %>">

  <label for="cat_sex_male">Male:</label>
  <input id="cat_sex_male"
         type="radio"
         name="cat[sex]"
         value="M"
        <%= "checked" if @cat.sex == "M" %>>

  <label for="cat_sex_female">Female:</label>
  <input id="cat_sex_female"
         type="radio"
         name="cat[sex]"
         value="F"
         <%= "checked" if @cat.sex == "F" %>>

  <label for="cat_color">Select Color:</label>
  <select id="cat_color" name="cat[color]">
    <option value=""></option>
    <% Cat::CAT_COLORS.each do |color| %>
      <option value="<%= color %>"
        <%= "selected" if @cat.color == color %>>
        <%= color %>
      </option>
    <% end %>
  </select>

  <label for="cat_birth_date">Input Birthdate:</label>
  <input id="cat_birth_date"
         type = "date"
         name="cat[birth_date]"
         value="<%= @cat.birth_date %>">

  <label for="cat_description">Tell me about your cat.</label>
  <input id="cat_description"
         type="textarea"
         name="cat[description]"
         value="<%= @cat.description %>">

  <!-- <input type="submit" value="Create cat"> -->

  <button type="submit" name="Submit">Submit</button>
</form>
