<h1><%= @cat.name %></h1>

<h2>Cat Data!</h2>
<% if @cat.owner == current_user %>
<form action="<%= edit_cat_url(@cat) %>" method="post">
  <input type="hidden" name="_method" value="get">
  <input type="hidden"
         name="authenticity_token"
         value="<%=form_authenticity_token%>">
  <button name="Edit">Edit Cat Data</button>
</form>
<% end %>
<table>
  <tr>
    <td>name</td>
    <td>color</td>
    <td>age</td>
    <td>sex</td>
    <td>description</td>
  </tr>

  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>

<h2>Cat Rental Requests</h2>
<form action="<%= new_cat_rental_request_url %>" method="get">
  <input type="hidden"
         name="authenticity_token"
         value="<%=form_authenticity_token%>">

 <input type="hidden"
        name="cat[id]"
        value="<%= @cat.id %>">

 <button name="rental_request">New Rental Request</button>

</form>

<table>
  <tr>
    <td>Renter Name</td>
    <td>Start Date</td>
    <td>End Date</td>
    <td>Status</td>
  </tr>
<% @cat_requests.each do |request| %>

  <tr>
    <td> <%= request.user.user_name %> </td>
    <td> <%= request.start_date %> </td>
    <td> <%= request.end_date %> </td>
<% if request.status == "APPROVED"%>
    <td>APPROVED</td>
<% elsif request.status == "DENIED"%>
    <td>DENIED</td>
<% elsif @cat.owner == current_user %>
  <td>
    <form  action="<%= approve_cat_rental_request_url %>" method="post">
      <input type="hidden" name="request_id" value="<%= request.id %>">
      <input type="hidden"
             name="authenticity_token"
             value="<%=form_authenticity_token%>">
      <button name="APPROVED">APPROVE</button>
    </form>
    <form  action="<%= deny_cat_rental_request_url %>" method="post">
      <input type="hidden" name="request_id" value="<%= request.id %>">
      <input type="hidden"
             name="authenticity_token"
             value="<%=form_authenticity_token%>">
      <button name="DENIED">DENY</button>
    </form>
  </td>


<% else %>
    <td>PENDING</td>
<% end %>
  </tr>
<% end %>
