<h1><%= @cat.name %></h1>

<h2>Cat Data!</h2>
<table>
  <tr>
    <td>name</td>
    <td>color</td>
    <td>age</td>
    <td>sex</td>
    <td>description</td>
  </tr>

  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>

<h2>Cat Rental Requests</h2>
<table>
  <tr>
    <td>Start Date</td>
    <td>End Date</td>
    <td>Status</td>
  </tr>
<% @cat_requests.each do |request| %>

  <tr>
    <td> <%= request.start_date %> </td>
    <td> <%= request.end_date %> </td>
<% if request.status == "APPROVED"%>
    <td>APPROVED</td>
<% elsif request.status == "DENIED"%>
    <td>DENIED</td>
<% else %>
    <td><%= button_to "Approve",  approve_cat_rental_request_path, params: {request_id: request.id }  %> /
        <%= button_to "Deny", deny_cat_rental_request_path, params: {request_id: request.id } %> </td>
<% end %>
  </tr>
<% end %>
