<!DOCTYPE html>
<html>
<head>
  <title>CatApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if signed_in? %>
    <%= current_user.user_name %>
    <form  action="<%= session_url %>" method="post">

      <input type="hidden"
             name="authenticity_token"
             value="<%=form_authenticity_token%>">

      <input type="hidden" name="_method" value="delete">

      <button name="Log Out">Log Out</button>
    </form>
  <% else %>
    <a href="<%= new_session_url %>">Sign In</a>
    <a href="<%= new_user_url %>">Sign Up</a>
  <% end %>

<%= yield %>

</body>
</html>
